.avatar {
    vertical-align: middle;
    width: 300px;
    height: 300px;
    border-radius: 50%;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }